@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;700&family=Inter:wght@400;700&display=swap');

:root {
    --color-primary-light: #284260;
    --color-secondary-light: #6E859F;
    --color-primary-dark: #D7F9FF;
    --color-secondary-dark: #D7F9FF;
    --background-color-light: #FFF;
    --background-color-dark: #01080E;
}

$font-primary: 'Chakra Petch', sans-serif;
$font-secondary: 'Inter', sans-serif;
$font-weight-bold: 700;
$font-weight-normal: 400;
$font-weight-normal-medium: 500;
$color-aqua: #1CA7C8;
$color-gray: #6E859F;
$color-purple: #8C61D5;